[Unit]
Description=Marquee Display Daemon
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/marquee/marquee_daemon.py
WorkingDirectory=/home/marquee
User=marquee
Restart=always
RestartSec=5
PAMName=login
RuntimeDirectory=marquee
Environment=SDL_VIDEODRIVER=KMSDRM
Environment=XDG_RUNTIME_DIR=/run/user/1000
Environment=SDL_FBDEV=/dev/fb0
StandardOutput=journal
StandardError=journal
Environment=PYGAME_HIDE_SUPPORT_PROMPT=1

[Install]
WantedBy=multi-user.target
